<%- include('../includes/head.ejs') %>
</head>
<body>
    <%- include('../includes/nav.ejs') %>
    <main>
        <% if(data){ %>
            <div class="flex-container">
                <div class="grid">
                    <article class="story-content">
                        <div class="story-title">
                            <h3 class="title">
                                <%= data.title %>
                            </h3>
                        </div>
                        <% if(data.image){ %>
                            <div class="content">
                                <img src="/<%= data.image %>" alt="" class="image">
                            </div>
                        <% }else{ %>
                        <% } %>
                        <div class="content">
                            <p>
                                <%= data.body %>
                            </p>
                            <p>
                                <a href="#">
                                    <%= data.tags[0].tag %>
                                </a>
                            </p>
                        </div>
                    </article>
                </div>
            </div>
        <% }else{ %>
            <h2>Story not found</h2>
        <% } %>
    </main>
<%- include('../includes/footer.ejs') %>